table thead {
  background-color: darkgray;
  color: white;
}
table tbody tr:nth-child(even) {
  background-color: lightgreen;
}
table tbody tr:nth-child(odd) {
  background-color: lightgrey;
}
.contenido {
  margin: 50px auto;
  width: 500px;
  border-radius: 5px;
  padding: 30px;
  background-color: #F9EBEB;
}
h1 {
  text-align: center;
}
.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
      padding:35px 50px;
}
.modal-body {
  padding:40px 50px;
}
